.data{
    display: grid;
    position: absolute;
    top: 120px;
    left: 120px;
    margin: 0 90px 0 100px;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
    gap:30px;
}

.userData{
    margin-bottom: 30px;
    grid-area: 1/1/2/5;
}
.userData h1{
    font-weight: 500;
    font-size: 48px;
}
.userData h1 b{
    color:#FF0101 ;
    font-weight: 500;
}

.userData p{
    margin-top: -10px;
    font-size:18px ;
}
.barChart{
    grid-area: 2/1/3/4;
    background-color: #FBFBFB;
    padding: 20px;
    border-radius: 10px;
}
.barChart .custom-tooltip{
    background-color: #E60000;
    color: white;
    text-align: center;
    padding:0 5px;
    line-height: 24px;
    font-size: 7px;
    font-weight: 500;
}

.lineChart{
    background-color: #FF0000;
    background: linear-gradient(to right, #FF0000, #FF0000 70%, #E60000 70%);
    border-radius: 10px;
}
.lineChart .custom-tooltip{
    background-color:white;
    padding: 0px 5px;
    border-radius: 5px;
}
.lineChart .recharts-curve{
stroke: linear-gradient(270deg, #FFFFFF 1.19%, rgba(255, 255, 255, 0.403191) 81.27%) !important;
}
.radarChart{
    background-color: #282D30;
    border-radius: 10px;
}
.circleChart{
    background-color: #FBFBFB;
    border-radius: 10px;
}
.whitecircle{
    filter: drop-shadow( 0px 0px 10px rgba(0,0,0,0.05));
}
.countData{
    grid-area: 2/4/4/5;
}
.countData .container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: #FBFBFB;
    margin-bottom: 40px;
    align-items: center;
    align-content: center;
    padding:30px;
    line-height: 0;
}
.countData .image {
    grid-area: 1/1/3/2;
    padding-right: 24px;
}
.countData img{
    height: 100%;
}
.countData p{
    margin-block-start: 5px;
    margin-block-end: 5px;
font-size: 20px;
font-weight: 700;  
}
.countData i{
    font-size: 14px;
font-weight: 500;
font-style: normal;  
}
